---
links:
  username: "bit.ly username"
  password: "bit.ly password"
  client:
    id:     "bit.ly client ID"
    secret: "bit.ly client secret"
twitter:
  consumer:
    key:    "twitter consumer key"
    secret: "twitter consumer secret"
  access_token:
    key:    "twitter access token key"
    secret: "twitter access token secret"
jbovlaste:
  cookie: "jbovlaste session cookie"
wiki:

